@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Nunito+Sans&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, #root{
    height: 100%;
}
#root {
    display: flex;
    flex-direction: column;
    font-family: 'Alegreya', serif;
}
.Header{
    background-image: linear-gradient(to right,#5800FF,#E900FF);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem;
    box-shadow: 0.2rem 0.2rem #C0C0C0;
    &__nav{
        display: flex;
        a{  
            font-size: 20px;
            font-weight:600;
            text-decoration: none;
            color: white;
            margin-left: 1rem;
        }
        .Cart{
            margin-left: 0.7rem;
        }
    }
    
}
main {
    flex-grow: 1;
    padding: 0.7rem;
}
.ItemContainer{
    display: flex;
    font-size: 30px;
    padding: 20px;
    justify-content: center;
}
// #5800FF,#E900FF
footer {
    background-image: linear-gradient(to left,#5800FF,#E900FF);
    color: white;
    padding: 0.7rem;
}